.wrapper {
  margin: auto;
  width: 90%;
}

.stuff-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 80rem;
}

.expenses-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
