/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$bg_body:    #f3f5f7;
$bg_card:    #f6f6f6;
$dark:       #343B46;
$eucalyptus: #49dcb1;
$light:      #a7aebb;
$white:      #ffffff;
