/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .6rem;

$spacing_xl: 15rem;
$spacing_l:  6rem;
$spacing_m:  2rem;
$spacing_s:  1rem;
